header {
    background-color: #E6E6E6;
}

h1 {
    background-color: #C4C4C4;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 29.64px;
    color: #005677;
    text-align: center;
}

.title {
    padding: 15px;
}

.section-subtitle{
    padding: 7px;
    font-size: 20px;
}

h2 {
    background-color: #C4C4C4;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 16.94px;
    color: #005677;
    text-transform:uppercase
}

.title-description {
    font-style: italic;
    font-weight: bold;
}

dl dt.years-detail {
    font-weight: bold;
}

.align-center {
    text-align: center;
}

footer {
    text-align: center;
    background-color: #005677;
    color: #fff;
    padding: 9px;
}

.margin-footer {
    margin: 0 13px 0 13px;
}